<ul class="nav nav-tabs nav-justified">
    <li class="{{ 'active' if current_section == 'achievements' }}">
        <a href="{{ url_for('encyclopedia._achv_index') }}">
            <img src="{{ url_for('static', filename='img/encyclopedia/achievements.png') }}" alt="">
            <p class="lead">Achievements</p>
        </a>
    </li>
    <li class="{{ 'active' if current_section == 'entities' }}">
        <a href="{{ url_for('encyclopedia._entities_index') }}">
            <img src="{{ url_for('static', filename='img/encyclopedia/entities.png') }}" alt="">
            <p class="lead">Entities</p>
        </a>
    </li>
    <li class="{{ 'active' if current_section == 'items' }}">
        <a href="{{ url_for('encyclopedia._items_index') }}">
            <img src="{{ url_for('static', filename='img/encyclopedia/items.png') }}" alt="">
            <p class="lead">Items</p>
        </a>
    </li>
    <li class="{{ 'active' if current_section == 'locations' }}">
        <a href="{{ url_for('encyclopedia._locations_index') }}">
            <img src="{{ url_for('static', filename='img/encyclopedia/locations.png') }}" alt="">
            <p class="lead">Locations</p>
        </a>
    </li>
    <li class="{{ 'active' if current_section == 'giants' }}">
        <a href="{{ url_for('encyclopedia._giants_index') }}">
            <img src="{{ url_for('static', filename='img/encyclopedia/giants.png') }}" alt="">
            <p class="lead">Giants</p>
        </a>
    </li>
    <li class="{{ 'active' if current_section == 'skills' }}">
        <a href="{{ url_for('encyclopedia._skills_index') }}">
            <img src="{{ url_for('static', filename='img/encyclopedia/skills.png') }}" alt="">
            <p class="lead">Skills</p>
        </a>
    </li>
</ul>
<br>
