<nav class="navbar navbar-default" role="navigation" id="nav-header">
    <div class="container{{ '-fluid' if fluid }}">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('core_pages._index') }}">
                <span class="hidden-sm hidden-md">Children of </span>
                <img src="{{ url_for('static', filename='img/logo/cou_ur.svg') }}" height="100%" width="auto" alt="Ur">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                {% for page in pages %}
                    <li class="{{ 'active' if is_active_page(page) }}">
                        <a href="{{ page.url }}">{{ page.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://game.childrenofur.com/">Play</a></li>
                {% if logged_in %}
                    <li id="logincontrol-loggedin" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span id="loggedin-username">{{ logged_in_username }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a id="loggedin-profilelink" href="/players/{{ logged_in_username }}">
                                    <i class="fas fa-fw fa-user"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('auth.logout_api') }}">
                                    <i class="fas fa-fw fa-sign-out-alt"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li id="logincontrol-loggedout">
                        <a href="{{ url_for('core_pages._login') }}"><i class="fas fa-sign-in-alt"></i> Log In</a>
                    </li>
                {% endif %}
                <li id="social-fa-links" class="hidden-sm">
                    <a title="Children of Ur on Facebook" href="https://www.facebook.com/childrenofur">
                        <i class="fab fa-fw fa-facebook"></i>
                    </a>
                    <a title="@ChildrenOfUr on Twitter" href="https://twitter.com/childrenofur">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    <a title="Children of Ur Code on GitLab" href="https://gitlab.com/ChildrenOfUr">
                        <i class="fab fa-fw fa-gitlab"></i>
                    </a>
                    <a title="Email publicrelations@childrenofur.com" href="mailto:publicrelations@childrenofur.com">
                        <i class="fas fa-fw fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
