{% if num_pages > 0 %}
    <ul class="pagination">
        {% if page > 1 %}
            <li>
                <a href="?page={{ page - 1 }}">&laquo;</a>
            </li>
        {% endif %}
        {% for i in range(1, num_pages + 1) %}
            <li class="{{ 'active' if i == page }}">
                <a href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
        {% if page < num_pages %}
            <li>
                <a href="?page={{ page + 1 }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
