<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ category.name }} | CoU Forums</title>
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <!-- Header -->
    <div class="row">
        <div class="{{ 'col-sm-9' if logged_in else 'col-md-12' }}">
            <div class="page-header">
                <h1>
                    <small>Posts in</small>
                    {{ category.name }}
                </h1>
                <h4>{{ category.description }}</h4>
            </div>
        </div>
        {% if logged_in %}
        <div class="col-sm-3">
            <br>
            <a href="{{ url_for('forums.new_post') }}?category={{ category.cat_id }}" class="btn btn-success btn-block btn-lg">
                <i class="fas fa-edit"></i>
                Create post
            </a>
        </div>
        {% endif %}
    </div>

    <!-- Posts -->
    <div class="grid row">
        {% if num_pages == 0 %}
        <div class="col-md-12">
            <div class="alert alert-warning">There are no posts in this category.</div>
        </div>
        {% endif %}

        {% for post in posts %}
        <div class="grid-item col-sm-6 col-md-4 col-lg-3">
            {% include "_common/preview.html" %}
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12 text-center">
            <hr>
            {% include "_common/pagination.html" %}
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{{ url_for('static', filename='js/masonry.js') }}"></script>
</body>
</html>
