<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ post.title }} | {{ post.category.name }} | CoU Forums</title>
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <!-- Post -->
    <div class="row">
        {% if not logged_in and post.category.voting_enabled %}
        <div class="col-md-12">
            <div class="alert alert-info">
                If you want to vote on replies to this thread, you need to
                <a href="{{ url_for('core_pages._login') }}" class="alert-link">log in</a>.
            </div>
        </div>
        {% endif %}
        <div class="col-md-12">
            <div class="page-header">
                <h2>{{ post.title }}</h2>
                <hr>
            </div>
        </div>
        <div class="col-md-12">
            <div class="media" data-post-id="{{ post.entry_id }}">
                <div class="media-left avatar-head text-center">
                    <a href="{{ post.user.profile_url }}">
                        <img class="mr-3 media-object" src="{{ post.user.avatar_url }}"
                             alt="{{ post.user.username }}'s avatar">
                    </a>
                </div>
                <div class="media-body">
                    <div class="pull-right">
                        <button class="btn btn-default {{ 'active' if logged_in_user_id in post.watchers }}"
                                title="Reply Notifications" onclick="toggleSubscription(this)"
                                data-watch-post-id="{{ post.entry_id }}">
                            <i class="fas fa-fw fa-bell"></i>
                            <span class="count">{{ post.watchers | count }}</span>
                        </button>
                        {% if post.user_id == logged_in_user_id %}
                        <a href="{{ post.edit_url }}" class="btn btn-info" title="Edit Post">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        <button class="btn btn-danger" title="Delete Post" onclick="deletePost(this)"
                                data-delete-post-id="{{ post.entry_id }}">
                            <i class="fas fa-fw fa-trash"></i>
                        </button>
                        {% endif %}
                    </div>
                    <h4 class="media-heading">
                        <a href="{{ post.user.profile_url }}">{{ post.user.username }}</a>
                        posted in <a href="{{ post.category.url }}">{{ post.category.name }}</a>
                        <span title="{{ post.created }}">{{ post.created_ago }}</span>
                        {% if post.was_edited %}
                        (edited <span title="{{ post.edited }}">{{ post.edited_ago }}</span>)
                        {% endif %}
                    </h4>
                    <br>
                    {{ post.content | safe }}
                    <hr>

                    <!-- Replies -->
                    {%
                    for reply in post.replies | sort(
                    attribute=("score" if post.category.voting_enabled else "created"),
                    reverse=post.category.voting_enabled)
                    %}
                    <div class="media reply" data-reply-id="{{ reply.entry_id }}" id="reply-{{ reply.entry_id }}">
                        <div class="media-left avatar-head text-center">
                            <a href="{{ reply.user.profile_url }}">
                                <img class="mr-3 media-object" src="{{ reply.user.avatar_url }}"
                                     alt="{{ reply.user.username }}'s avatar">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="pull-right">
                                <!-- Editing -->
                                {% if reply.user_id == logged_in_user_id %}
                                <p>
                                    <a href="{{ reply.edit_url }}" class="btn btn-info" title="Edit Reply">
                                        <i class="fas fa-fw fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger"
                                            title="Delete Reply" data-delete-reply-id="{{ reply.entry_id }}">
                                        <i class="fas fa-fw fa-trash"></i>
                                    </button>
                                </p>
                                {% endif %}

                                <!-- Voting -->
                                {% if post.category.voting_enabled %}
                                {% if logged_in and reply.user_id != logged_in_user_id %}
                                <p class="text-center">
                                    <button class="btn btn-success {{ 'active' if logged_in_user_id in reply.upvoters }}"
                                            data-vote="up" data-loading-text="…">
                                        <i class="fas fa-fw fa-thumbs-up"></i>
                                    </button>
                                </p>
                                <p class="text-center reply-score" data-reply-id="{{ reply.entry_id }}">
                                    {{ reply.score }}
                                </p>
                                <p class="text-center">
                                    <button class="btn btn-warning {{ 'active' if logged_in_user_id in reply.downvoters }}"
                                            data-vote="down" data-loading-text="…">
                                        <i class="fas fa-fw fa-thumbs-down"></i>
                                    </button>
                                </p>
                                {% else %}
                                <p class="text-center reply-score lead " data-reply-id="{{ reply.entry_id }}">
                                    <b>{{ reply.score }}</b> pt{{ "s" if reply.score != 1 and reply.score != -1 }}
                                </p>
                                {% endif %}
                                {% endif %}
                            </div>

                            <h4 class="media-heading">
                                <a href="{{ reply.user.profile_url }}">{{ reply.user.username }}</a>
                                replied
                                <span title="{{ reply.created }}">{{ reply.created_ago }}</span>
                                {% if reply.was_edited %}
                                (edited <span title="{{ reply.edited }}">{{ reply.edited_ago }})</span>
                                {% endif %}
                            </h4>
                            <br>
                            {{ reply.content | safe }}
                        </div>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Reply form -->
    <div class="row">
        <div class="col-md-12">
            <h2>
                <label for="reply-editor">
                    Reply
                </label>
            </h2>
            {% if logged_in %}
            <div class="alert alert-info visible-xs">
                You may need to tap the <i class="fas fa-book-open"></i> button to open the editor.
            </div>
            <textarea id="reply-editor" required></textarea>
            {% else %}
            <div class="alert alert-info">
                If you want to reply to this thread, you need to <a href="/login" class="alert-link">log in</a>.
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Navigation -->
    <div class="row">
        <br>
        <div class="col-xs-6">
            {% if logged_in %}
            <button class="btn btn-success" onclick="submitNewReply(this)" data-loading-text="Submitting...">
                <i class="fas fa-save"></i>
                Submit Reply
            </button>
            {% endif %}
        </div>
        <div class="col-xs-6 text-right">
            <a href="#" class="btn btn-primary">
                <i class="fas fa-arrow-up"></i>
                Back to top
            </a>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}

<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=v4a98qb9jxiy841dm73twzz8s8dkp1gcitzbzoknla9gkhk8"></script>
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/thread.js') }}"></script>
</body>
</html>
