<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ user.username }}'s Profile | Children of Ur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profiles.css') }}">

    <meta name="X-CoU-Player-Username" content="{{ user.username }}">

    {% if logged_in and logged_in_username == user.username %}
        <meta name="X-CoU-Player-Email" content="{{ user.email }}">
    {% endif %}
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container main-container" id="profile-container">
    <div class="row" id="profile-header">
        <div id="profile-header-image" style="background-image: url({{ street['loading_image']['url'] if street }});"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-2">
            <div id="profile-player"></div>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-8 col-lg-7 col-lg-offset-1">
            <h1 class="graphic {{ user.elevation }}" id="player-name">{{ user.username }}</h1>
            <div id="bio">{{ user.bio | safe }}</div>
        </div>
    </div>
    <div class="row" id="profile-contents">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#profile-stats" data-toggle="pill">Stats</a></li>
                <li><a href="#skills" data-toggle="pill">Skills</a></li>
                <li><a href="#achievements" data-toggle="pill">Achievements</a></li>
                <li><a href="#favor" data-toggle="pill">Favor</a></li>
                <li><a href="#forums" data-toggle="pill">Forums</a></li>
                {% if logged_in_username == user.username %}
                    <li><a href="#account" data-toggle="pill">Account</a></li>
                {% endif %}
            </ul>
            <hr>
            <p id="connected" class="lead text-center text-{{ 'success' if online else 'danger' }}">
                {{ 'Online' if online else 'Offline' }}
            </p>
            {% if metabolics and street %}
            <p class="text-center">
                {{ 'Last seen' if not online else 'Currently' }} in<br>
                <a href="{{ url_for('encyclopedia._location', loc_id=tsid_l(metabolics.current_street)) }}">
                    <strong>{{ street['label'] if street }}</strong>
                </a>
                {% if not online %}
                    <br>
                    <strong title="{{ user.last_login }}">{{ rel_time(user.last_login) }}</strong>
                {% endif %}
            </p>
            {% endif %}
            <hr>
            <p class="text-center">
                Registered<br>
                <strong title="{{ user.registration_date }}">{{ rel_time(user.registration_date) }}</strong>
            </p>
            <hr class="visible-xs">
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <!-- Stats -->
                <div class="tab-pane fade in active row" id="profile-stats">
                    {% if metabolics %}
                    <div class="col-md-6">
                        <h1>Energy</h1>
                        <div class="progress">
                            <div id="stat_energy_bar"
                                 class="progress-bar progress-bar-{{ progress_color(metabolics.energy_percent) }}"
                                 style="width: {{ metabolics.energy_percent }}%;">
                                <strong>{{ metabolics.energy_percent | round | int }}%</strong>
                            </div>
                        </div>
                        <big><strong>{{ metabolics.energy }}</strong></big> out of
                        <big><strong>{{ metabolics.max_energy }}</strong></big>
                    </div>
                    <div class="col-md-6">
                        <h1>Mood</h1>
                        <div class="progress">
                            <div id="stat_mood_bar"
                                 class="progress-bar progress-bar-{{ progress_color(metabolics.mood_percent) }}"
                                 style="width: {{ metabolics.mood_percent }}%;">
                                <strong>{{ metabolics.mood_percent | round | int }}%</strong>
                            </div>
                        </div>
                        <big><strong>{{ metabolics.mood }}</strong></big>
                        out of
                        <big><strong>{{ metabolics.max_mood }}</strong></big>
                    </div>
                    <div class="col-md-6">
                        <h1>iMG</h1>
                        Level <big><strong><span id="lvl_num">{{ metabolics.level }}</span></strong></big><br>
                        <strong><big>{{ "{:,}".format(metabolics.img) }}</big><sup>i</sup></strong> currently<br>
                        <strong><big>{{ "{:,}".format(metabolics.lifetime_img) }}</big><sup>i</sup></strong> all-time
                    </div>
                    <div class="col-md-3">
                        <h1>Currants</h1>
                        <img src="{{ url_for('static', filename='img/currant.svg') }}" alt="&#8353;">&emsp;
                        <big><strong>{{ "{:,}".format(metabolics.currants) }} &#8353;</strong></big>
                    </div>
                    <div class="col-md-3">
                        <h1>Locations</h1>
                        <strong><big>{{ "{:,}".format(metabolics.locations_visited) }}</big></strong>
                        street{{ plural_s(metabolics.locations_visited) }} visited<br>
                    </div>
                    <div class="col-md-12">
                        <h1>Quoins</h1>

                        <div class="row">
                            <div class="col-md-6">
                                <strong><big>{{ metabolics.quoin_multiplier | round(2) }}x</big></strong> quoin
                                multiplier<br>
                            </div>
                            <div class="col-md-6">
                                <div class="progress">
                                    <div id="quoins_collected_bar"
                                         class="progress-bar progress-bar-{{ progress_color(metabolics.quoins_collected_percent, reverse=True) }}"
                                         style="width: {{ metabolics.quoins_collected_percent }}%;">
                                        <strong>
                                            {{ metabolics.quoins_collected_percent | round | int }}%
                                        </strong>
                                    </div>
                                </div>
                                <strong><big>{{ metabolics.quoins_collected }}</big></strong>
                                quoin{{ plural_s(metabolics.quoins_collected) }} collected today<br>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="col-md-12">
                            <p class="text-danger">Could not find metabolic information</p>
                        </div>
                    {% endif %}
                </div>

                <!-- Skills-->
                <div class="tab-pane fade row" id="skills">
                    <div class="col-md-12">
                        <ul class="achv-categories nav nav-pills">
                            {% for category in skills.keys() | sort %}
                                <li class="{{ 'active' if category == (skills.keys() | sort)[0] }}">
                                    <a data-toggle="tab" href="#skill-tab-{{ category | lower }}">{{ category }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for category in skills.keys() %}
                                <div class="tab-pane fade in {{ 'active' if category == (skills.keys() | sort)[0] }}"
                                     id="skill-tab-{{ category | lower }}" data-skill-category="{{ category | lower }}">
                                    {% for skill in skills[category] %}
                                        <div data-skill-id="{{ skill['id'] }}">
                                            {% if skill["player_level"] == skill["num_levels"] %}
                                                {# Maximum level reached #}
                                                <div class="achv col-md-3 col-sm-4 col-xs-6" data-toggle="tooltip"
                                                     data-placement="bottom" title="{{ skill['player_description'] }}">
                                                    <div class="achv-icon"
                                                         style="background-image: url({{ skill['player_iconUrl'] }});"></div>
                                                    <div class="center-block">{{ skill["name"] }} {{ skill["player_level"] }}</div>
                                                </div>
                                            {% else %}
                                                {# Working towards next level #}
                                                {% set skill_progress = skill['player_points'] / skill['player_nextPoints'] * 100 %}

                                                <div class="achv col-sm-12 row">
                                                    <!-- Current -->
                                                    <div class="col-sm-3" data-toggle="tooltip" data-placement="bottom"
                                                         title="{{ skill['player_description'] }}">
                                                        <div class="achv-icon"
                                                             style="background-image: url({{ skill['player_iconUrl'] }});"></div>
                                                    </div>

                                                    <!-- Progress -->
                                                    <div class="col-sm-6">
                                                        <h3 class="achv-name">{{ skill['name'] }}</h3>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-{{ progress_color(skill_progress) }}"
                                                                 style="width: {{ skill_progress }}%;">
                                                                <strong>{{ skill_progress | round | int }}%</strong>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Next -->
                                                    <div class="col-sm-3" data-toggle="tooltip" data-placement="bottom"
                                                         title="{{ skill['descriptions'][skill['player_level']] }}">
                                                        <div class="achv-icon"
                                                             style="background-image: url({{ skill['iconUrls'][skill['player_level']] }});"></div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Achievements -->
                <div class="tab-pane fade row" id="achievements">
                    <div class="col-md-12">
                        <ul class="achv-categories nav nav-pills">
                            {% for category in achievements.keys() | sort %}
                                <li class="{{ 'active' if category[0] == '_' }}">
                                    <a data-toggle="tab" href="#achv-tab-{{ category | lower }}">
                                        {{ category[1:] if category[0] == '_' else category }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for category in achievements.keys() %}
                                <div class="tab-pane fade in {{ 'active' if category[0] == '_' }}"
                                     id="achv-tab-{{ category | lower }}"
                                     data-achv-category="{{ category | lower }}">
                                    {% for achv in achievements[category] %}
                                        <div class="achv col-md-3 col-sm-4 col-xs-6" data-achv-id="{{ achv['id'] }}"
                                             data-toggle="tooltip" data-placement="top"
                                             title="{{ achv['description'] }}">
                                            <div class="achv-icon" data-achv-awarded="{{ achv['awarded'] }}"
                                                 style="background-image: url(https://childrenofur.com/assets/achievements/?url={{ achv['imageUrl'] }});"></div>
                                            <div class="ach-name">{{ achv["name"] }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Favor -->
                <div class="tab-pane fade row" id="favor">
                    {% if metabolics %}
                    <div class="col-md-3 col-sm-6">
                        <h3 class="giant-name" id="title-alph">Alph<span class="giant-img pull-right alph"></span>
                        </h3>
                        <div class="progress" id="progress-alph">
                            <div id="favor_bar_alph" class="progress-bar"
                                 style="width: {{ metabolics.alphfavor_percent }}%;">
                                <strong>{{ metabolics.alphfavor_percent | round | int }}%</strong>
                            </div>
                        </div>

                        <h3 class="giant-name" id="title-cosma">Cosma<span
                                class="giant-img pull-right cosma"></span></h3>
                        <div class="progress" id="progress-cosma">
                            <div id="favor_bar_cosma" class="progress-bar"
                                 style="width: {{ metabolics.cosmafavor_percent }}%;">
                                <strong>{{ metabolics.cosmafavor_percent | round | int }}%</strong>
                            </div>
                        </div>

                        <h3 class="giant-name" id="title-friendly">Friendly<span
                                class="giant-img pull-right friendly"></span></h3>
                        <div class="progress" id="progress-friendly">
                            <div id="favor_bar_friendly" class="progress-bar"
                                 style="width: {{ metabolics.friendlyfavor_percent }}%;">
                                <strong>{{ metabolics.friendlyfavor_percent | round | int }}%</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3 class="giant-name" id="title-grendaline">Grendaline<span
                                class="giant-img pull-right grendaline"></span></h3>
                        <div class="progress" id="progress-grendaline">
                            <div id="favor_bar_grendaline" class="progress-bar"
                                 style="width: {{ metabolics.grendalinefavor_percent }}%;">
                                <strong>{{ metabolics.grendalinefavor_percent | round | int }}%</strong>
                            </div>
                        </div>

                        <h3 class="giant-name" id="title-humbaba">Humbaba<span
                                class="giant-img pull-right humbaba"></span></h3>
                        <div class="progress" id="progress-humbaba">
                            <div id="favor_bar_humbaba" class="progress-bar"
                                 style="width: {{ metabolics.humbabafavor_percent }}%;">
                                <strong>{{ metabolics.humbabafavor_percent | round | int }}%</strong>
                            </div>
                        </div>

                        <h3 class="giant-name" id="title-lem">Lem<span class="giant-img pull-right lem"></span></h3>
                        <div class="progress" id="progress-lem">
                            <div id="favor_bar_lem" class="progress-bar"
                                 style="width: {{ metabolics.lemfavor_percent }}%;">
                                <strong>{{ metabolics.lemfavor_percent | round | int }}%</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3 class="giant-name" id="title-mab">Mab<span class="giant-img pull-right mab"></span></h3>
                        <div class="progress" id="progress-mab">
                            <div id="favor_bar_mab" class="progress-bar"
                                 style="width: {{ metabolics.mabfavor_percent }}%;">
                                <strong>{{ metabolics.mabfavor_percent | round | int }}%</strong>
                            </div>
                        </div>

                        <h3 class="giant-name" id="title-pot">Pot<span class="giant-img pull-right pot"></span></h3>
                        <div class="progress" id="progress-pot">
                            <div id="favor_bar_pot" class="progress-bar"
                                 style="width: {{ metabolics.potfavor_percent }}%;">
                                <strong>{{ metabolics.potfavor_percent | round | int }}%</strong>
                            </div>
                        </div>

                        <h3 class="giant-name" id="title-spriggan">Spriggan<span
                                class="giant-img pull-right spriggan"></span></h3>
                        <div class="progress" id="progress-spriggan">
                            <div id="favor_bar_spriggan" class="progress-bar"
                                 style="width: {{ metabolics.sprigganfavor_percent }}%;">
                                <strong>{{ metabolics.sprigganfavor_percent | round | int }}%</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3 class="giant-name" id="title-tii">Tii<span class="giant-img pull-right tii"></span></h3>
                        <div class="progress" id="progress-tii">
                            <div id="favor_bar_tii" class="progress-bar"
                                 style="width: {{ metabolics.tiifavor_percent }}%;">
                                <strong>{{ metabolics.tiifavor_percent | round | int }}%</strong>
                            </div>
                        </div>

                        <h3 class="giant-name" id="title-zille">Zille<span
                                class="giant-img pull-right zille"></span></h3>
                        <div class="progress" id="progress-zille">
                            <div id="favor_bar_zille" class="progress-bar"
                                 style="width: {{ metabolics.zillefavor_percent }}%;">
                                <strong>{{ metabolics.zillefavor_percent | round | int }}%</strong>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="col-sm-12">
                            <p class="text-danger">Could not find favor information</p>
                        </div>
                    {% endif %}
                </div>

                <!-- Forums -->
                <div class="tab-pane fade row" id="forums">
                    <div class="col-sm-6">
                        <h2 class="text-center">Posts</h2>
                        <br>
                        {% if not forum_posts %}
                            <p class="text-center text-danger">{{ user.username }} hasn't started any threads yet.</p>
                        {% else %}
                            {% set show_category = True %}
                            {% for post in forum_posts %}
                                {% include "_common/preview.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <h2 class="text-center">Replies</h2>
                        <br>
                        {% if not forum_replies %}
                            <p class="text-center text-danger">{{ user.username }} hasn't replied to any threads
                                yet.</p>
                        {% else %}
                            {% set showing_reply = True %}
                            {% for reply in forum_replies %}
                                {% set post = reply.post %}
                                {% include "_common/preview.html" %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <!-- Account -->
                {% if logged_in_username == user.username %}
                    <div class="tab-pane fade row" id="account">
                        <div class="col-md-12">
                            <h3>Bio
                                <small class="text-info">Write a bit about yourself. This will show up above.
                                </small>
                            </h3>
                            <form>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" id="newbio" style="resize: vertical;">
                                            {{ user.bio | safe }}
                                        </textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-large" id="savebio"
                                            data-loading-text="Saving..." data-complete-text="Saved!">
                                        Save Changes</button>
                                </div>
                            </form>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-sm-6">
                                <div id="colorpicker">
                                    <div class="colors-select">
                                        <div class="colors-title">Username Colors</div>
                                        {% for level in username_colors.keys() %}
                                            <div class="colors-row" {{ 'disabled="true"' | safe if metabolics.level < level }}>
                                                {# Title #}
                                                <span>
                                                    {% if level == 0 %}
                                                        Everyone
                                                    {% elif level == 60 %}
                                                        Level <b>60</b>
                                                    {% else %}
                                                        Level <b>{{ level }}</b> &amp; up
                                                    {% endif %}
                                                </span>

                                                {# Swatches #}
                                                {% for color in username_colors[level] %}
                                                    {% set color_hex = color[0] %}
                                                    {% set color_name = color[1] %}

                                                    <div class="color-swatch" style="background-color: {{ color_hex }};"
                                                         title="{{ color_name }}"
                                                         data-color="{{ color_hex[1:] }}"
                                                            {{ 'current="true"' | safe if user.username_color == color_hex }}
                                                    ></div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}

                                        {# Submit button #}
                                        <button id="color-submit" class="btn btn-lg btn-primary btn-block"
                                                data-loading-text="Saving..." data-complete-text="Saved!">
                                            Save color
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h3>Username Color</h3>
                                <p>Your username color shows up for everyone in the game in the chat panel and on
                                    the minimap.</p>
                                <p>Color choices are unlocked by level.</p>
                                <p>Once you change it, players will see it after they refresh their game (yourself
                                    included).</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
<script src="{{ url_for('static', filename='js/player_display.js') }}"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
{% if logged_in_username == user.username %}
    {% include "_common/tinymce.html" %}
{% endif %}
</body>
</html>
