html {
    position: relative;
    min-height: 100%
}

body {
    background-color: #fafafa;
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 70px
}

body,
.popover-content {
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, .lead, .btn, .navbar-brand {
    font-family: "Fredoka One", cursive;
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: #eee;
    border: none;
    box-shadow: 0 0 3px #dfdfdf inset
}

::-webkit-scrollbar-thumb {
    background-color: #4b2e4c;
    border-radius: 8px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7b4c7c
}

::selection {
    background-color: #4b2e4c;
    color: #eee
}

a {
    color: #4b2e4c;
}

a:hover {
    color: #ac6baf;
}

a:active, a:focus {
    color: #4b2e4c;
    text-decoration: underline
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #4b2e4c;
}
