.err-cubimal {
    background-image: url(/static/img/npc/404_cubimal.svg);
    width: 300px;
    height: 300px;
    background-size: 900px 900px;
    background-position: center center;
    margin: auto;
}
