<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ ("Editing " if entry else "Creating ") + mode }} | CoU Forums</title>
    <meta name="X-CoU-Blogging" content="{{ mode == "post" and category.is_blog_category }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <!-- Reply form -->
    <div class="row">
        <div class="col-md-12">
            <h2>
                <label for="editor">
                    {% if entry %}
                    Editing {{ entry.title if mode == "post" else "reply" }}
                    {% else %}
                    New Post
                    {% endif %}
                </label>
                {% if mode == "post" %}
                <small>in {{ category.name }}</small>
                {% elif mode == "reply" %}
                <small>to "{{ entry.post.title }}"</small>
                {% endif %}
            </h2>
            {% if mode == "post" %}
            <input type="text" class="form-control" id="entry-title" placeholder="Post title" value="{{ entry.title | trim }}">
            <br>
            <input type="hidden" id="entry-category" value="{{ category.cat_id }}">
            {% endif %}
            <div class="alert alert-info visible-xs">
                You may need to tap the <i class="fas fa-book-open"></i> button to open the editor.
            </div>
            <textarea class="form-control" id="editor" required>{{ entry.content }}</textarea>
        </div>
    </div>

    <!-- Navigation -->
    <div class="row">
        <br>
        <div class="col-md-12">
            <button class="btn btn-success" onclick="submitStandalone(this)"
                    data-loading-text="Submitting, please wait..."
                    data-entry-id="{{ entry.entry_id }}" data-entry-type="{{ mode }}">
                <i class="fas fa-upload"></i>
                Publish {{ "changes" if entry }}
            </button>

            {% if mode == "post" and category.is_blog_category %}
                <button class="btn btn-warning" onclick="submitStandalone(this)"
                        data-loading-text="Saving, please wait..."
                        data-entry-id="{{ entry.entry_id }}" data-entry-type="{{ mode }}" data-draft="true">
                    <i class="fas fa-save"></i>
                    Save draft
                </button>
            {% endif %}

            {% if mode == "post" %}
                <button class="btn btn-danger" onclick="deletePost(this)"
                        data-delete-post-id="{{ entry.entry_id }}">
                    <i class="fas fa-trash"></i>
                    Delete post
                </button>
            {% endif %}
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=v4a98qb9jxiy841dm73twzz8s8dkp1gcitzbzoknla9gkhk8"></script>
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% if mode == "post" %}
    <script src="{{ url_for('static', filename='js/thread.js') }}"></script>
{% endif %}
</body>
</html>
