<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Log in to Children of Ur</title>
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Log In</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <cou-login></cou-login>
        </div>
        <div class="col-md-6">
            <h2>Registration</h2>
            <p>
                If you've never logged in before, that's OK. You may either register by putting in an email address and
                password and clicking the registration link we send you. OR you can use one of the social logins
                provided. If you decide to switch login methods in the future, no worries. Your account is tied to you
                via your email address. As long as your social login emails match or you register that email address
                with us, you're good to go.
            </p>

        </div>
    </div>
</div>

{% include "_common/foot.html" %}
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/login.dart.js') }}"></script>
</body>
</html>
