{#
   This template expects list_objs to be a dictionary whose keys are the names of categories and whose
   values are sets of GameObjects belonging to each category.
#}
<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ list_title }} | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
    <div class="row object-list panel-group" id="accordion">
        <div class="col-md-12">
            {% for category in list_objs %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#category-{{ sanitize_category(category) }}">
                                {{ category }}
                            </a>
                        </h4>
                    </div>
                    <div id="category-{{ sanitize_category(category) }}"
                         class="panel-collapse collapse">
                        <div class="panel-body">
                            {% for obj in list_objs[category] | sort(attribute='name') %}
                                <a href="{{ obj.url }}">
                                    <div class="listed-object col-xs-6 col-sm-3 col-lg-2">
                                        <img src="{{ obj.icon_url }}" alt="">
                                        <span>{{ obj.name }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
