<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ obj.name }} | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ obj.name }}</h1>
            </div>
        </div>
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>{{ obj.category }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="{{ obj.icon_url }}" alt="">
        </div>
        <hr class="visible-xs">
        <div class="col-sm-8">
            <p>{{ obj.description }}</p>
        </div>
    </div>
    {% if item %}
        <div class="row">
            <div class="col-md-12">
                <hr>

                <div class="alert alert-warning">
                    {% if obj.price == 0 %}
                        This item is priceless
                    {% else %}
                        Worth around {{ "{:,}".format(obj.price) }} currant{{ plural_s(obj.price) }}
                    {% endif %}
                </div>

                <div class="alert alert-info">
                    Can fit {{ obj.stacks_to }} in a stack
                </div>

                {% if obj.is_container %}
                    <div class="alert alert-success">
                        Can hold {{ obj.sub_slots }} item{{ plural_s(obj.sub_slots) }}
                    </div>
                {% endif %}

                {% if obj.consume_values %}
                    <div class="alert alert-danger">
                        {% set values = {"energy": "danger", "mood": "success", "img": "info"} %}

                        {% for value, color in values.items() %}
                            {% if value in obj.consume_values %}
                                {% set amt = obj.consume_values[value] %}
                                {% if amt > 0 %}
                                    <span class="label label-{{ color }}">
                                        {{ "+" if amt > 0 }}{{ amt }} {{ "iMG" if value == "img" else value }}
                                    </span>
                                    &nbsp;
                                {% endif %} {# amt > 0 #}
                            {% endif %} {# value in consume_values #}
                        {% endfor %}
                        when consumed
                    </div>
                {% endif %} {# obj has consume_values #}
            </div>
        </div>
    {% endif %} {# item #}
</div>

{% include "_common/foot.html" %}
</body>
</html>
