<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ hub.name }} | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="page-header">
                <h1>{{ hub.name }}</h1>
            </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <img class="img-thumbnail" src="{{ hub.icon_url }}" alt="Map of {{ hub.name }}">
        </div>
    </div>
    <div class="row location-list">
        <div class="col-sm-8 col-sm-offset-2">
            <ul class="location-list-streets">
                {% for street in hub.streets | sort(attribute="name") %}
                    {% if street.in_game %}
                        <li><a href="{{ street.url }}">{{ street.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <hr>

            {% if hub.music %}
                <div class="alert alert-info">
                    <i class="fas fa-fw fa-music"></i>
                    This region plays the <b>{{ hub.music }}</b> music.
                </div>
            {% endif %}

            {% if hub.players_have_letters %}
                <div class="alert alert-success">
                    <i class="fas fa-fw fa-i-cursor"></i>
                    You'll get a random letter above your head here. Gather some friends and spell out a word!
                </div>
            {% endif %}

            {% if hub.disable_weather %}
                <div class="alert alert-warning">
                    <i class="fas fa-fw fa-cloud-sun"></i>
                    There's a 0% chance of bad weather here.
                </div>
            {% endif %}

            {% if hub.snowy_weather %}
                <div class="alert alert-warning">
                    <i class="fas fa-fw fa-snowflake"></i>
                    It's so cold here that it snows instead of raining!
                </div>
            {% endif %}

            {% if hub.physics != "normal" %}
                <div class="alert alert-danger">
                    <i class="fas fa-fw fa-weight"></i>
                    This region has {{ hub.physics }} physics.
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
