<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Locations | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
    {% set fluid = True %}
</head>
<body data-spy="scroll" data-target="#hubs-list">
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            {% for hub in hubs | sort(attribute='name') %}
                <!-- Hub: {{ hub.name }} -->
                {% if hub.in_game %}
                    <div class="row">
                        <div class="col-xs-4" id="hub-{{ hub.obj_id }}">
                            <h2>
                                <a class="location-list-hub-name" href="{{ hub.url }}">{{ hub.name }}</a>
                            </h2>
                        </div>
                        <div class="col-xs-8">
                            <img class="img-thumbnail img-responsive" src="{{ hub.icon_url }}"
                                 alt="Map of {{ hub.name }}">
                        </div>
                    </div>
                    <div class="row location-list">
                        <div class="col-sm-8 col-sm-offset-4">
                            <ul class="location-list-streets">
                                {% for street in hub.streets | sort(attribute="name") %}
                                    <!-- Street: {{ street.name }} -->
                                    {% if street.in_game %}
                                        <li><a href="{{ street.url }}">{{ street.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Navigation sidebar -->
        <div class="col-sm-4" id="hubs-list">
            <ul class="nav nav-pills nav-stacked hidden-xs" data-spy="affix" data-offset-top="200">
                {% for hub in hubs | sort(attribute='name') %}
                    {% if hub.in_game %}
                        <li><a href="#hub-{{ hub.obj_id }}">{{ hub.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
