<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>Search for {{ query }} | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/encyclopedia" class="btn btn-default">
                <i class="fas fa-caret-left"></i>
                Encyclopedia Home
            </a>
            <div class="page-header">
                <h1>Encyclopedia search results for <i>{{ query }}</i></h1>
            </div>
        </div>
        {% if have_results %}
            <div class="col-md-12">
                <ul class="media-list">
                    {% for type_name, type_results in results.items() %}
                        {% if type_results %}
                            <li class="media">
                                <div class="media-left">
                                    <img class="media-object" alt=""
                                         src="{{ url_for('static', filename='img/encyclopedia/' + type_name.lower() + '.png') }}">
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading">{{ type_name }}</h2>
                                    <br>
                                    <ul class="media-list">
                                        {% for result in type_results %}
                                            <li class="media listed-link">
                                                <div class="media-left">
                                                    <a href="{{ result.url }}">
                                                        <img class="media-object" src="{{ result.icon_url }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="{{ result.url }}">{{ result.name }}</a>
                                                    </h4>
                                                    <p>{{ result.description }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <hr>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <p class="lead">No results found :(</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
