<!doctype html>
<html lang="en">
<head>
    {% include "_common/head.html" %}
    <title>{{ skill.name }} | Children of Ur Encyclopedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/encyclopedia.css') }}">
</head>
<body>
{% include "_common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "_common/encyclopedia_nav.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ skill.name }}</h1>
            </div>
        </div>
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>{{ skill.category }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol class="media-list">
                {% for level in range(0, skill.levels.__len__() - 1) %}
                    <li class="media listed-skill">
                        <div class="media-left">
                            <img src="{{ skill.icon_urls[level] }}" alt="" class="media-object">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ skill.name }} {{ level + 1 }}
                                {% if skill.levels[level] > 0 %}
                                    <small>{{ skill.levels[level] }} point{{ plural_s(skill.levels[level]) }}</small>
                                {% endif %}
                            </h4>
                            <p>{{ skill.descriptions[level] }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Affiliated Giants</h2>
        </div>
        {% for giant in skill.giants %}
            <div class="col-sm-4">
                <a class="thumbnail affiliated-giant text-center" href="{{ giants[giant.lower()].url }}">
                    <img src="{{ giants[giant.lower()].icon_url }}" alt="">
                    <div class="caption">
                        <h3>{{ giant }}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% include "_common/foot.html" %}
</body>
</html>
